@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

body {
    margin: 0;
    padding: 0;
    background-color: #f6fafb;
    background-attachment: fixed;
}

#logo {
    display: block;
    float: left;
    padding: 0 30px;
    height: 60px;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #f6fafb;
    font-family: "Lato", serif;
    text-transform: uppercase;
}

nav a {
    display: block;
    padding: 0 20px;
    color: #191619;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    transition: all .4s ease;
}

nav a:hover {
    background: #1e4460;
    color: #f6fafb;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0;
    display: inline-block;
    float: left;
    background-color: #f6fafb;
}



nav ul li ul li:hover {
    background: #1e4460;
    color: #f6fafb;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

li > a::after {
    content: ' +';
}

li > a:only-child::after {
    content: '';
}

.toggle,
[id^=drop] {
    display: none;
}

table {
    display: block;
    width: 400px;
    padding: 5px;
    float: left;
    margin: 15px;
    top: 80px;
}

table:nth-of-type(even) {
    float: right;
}

td,
th {
    font-family: "Opens Sans", sans-serif;
    padding: 5px;
    vertical-align: text-top;
    width: 400px;
}

[colspan="2"] {
    background-color: #1e4460;
    text-align: center;
    color: #f6fafb;
}

tr > td:first-child {
    font-weight: bold;
    width: 40%;
}

article {
    font-family: "Opens Sans", sans-serif;
    display: block;
    background-color: rgba(246, 250, 251, 0.8);
    padding: 15px;
    max-width: 1000px;
    text-align: justify;
    padding-left: 25px;
}

p:last-of-type {
    padding-bottom: 15px;
}

q {
    font-style: italic;
}

div.box {
    margin: auto;
    max-width: 1000px;
    border: solid 2px #1e4460;
}

h1 {
    color: #1e4460;
    margin: 0;
    text-shadow: 2px 2px 2px #4d474b;
    font-size: 2em;
}

h2 {
    color: #1e4460;
    margin: 0;
}

h3 {
    margin: 0;
}

figure {
    display: block;
    float: right;
    margin: 15px;
    text-align: center;
    border: solid 2px #1e4460;
}

button {
    background-color: #1e4460;
    border: 0;
    color: #f6fafb;
    transition: .4s;
    -webkit-transition-duration: .4s;
    width: 40px;
}

button:hover {
    background-color: #f6fafb;
    color: #1e4460;
}

.slider {
    display: block;
}

.sliderContainer {
    max-width: 1080px;
    margin: auto;
    display: flex;
}

@media all and (max-width : 768px) {
    #logo {
        display: block;
        padding: 0;
        text-align: center;
        float: left;
    }

    nav {
        margin: 0;
        position: relative;
    }

    .toggle + a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: #f6fafb;
        padding: 0 20px;
        color: #191619;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
    }

    .toggle:hover {
        background-color: #1e4460;
        color: #f6fafb;
        transition: all .4s ease;
    }

    [id^=drop]:checked + ul {
        display: block;
        width: 100%;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
        background-color: #999;
    }

    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #7ca6ca;
    }

    nav ul ul {
        float: none;
        position: static;
        color: #f6fafb;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;

    }

    table {
        float: none;
        clear: both;
        margin: auto;
        position: relative;
        top: inherit;
        max-width: 100vw;
        background-color: rgba(246, 250, 251, 0.8);
    }

    table:nth-of-type(2) {
        float: none;
    }

    article {
        padding: 15px;
        margin: 15px;

    }

    h1,
    h2,
    h3 {
        text-align: left;
    }

    figure {
        float: none;
        clear: both;
        margin: auto;
        position: relative;
        top: inherit;
        max-width: 375px;
    }

    figure > img {
        width: 100%;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4d474b;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #4d474b;
    transition: all .4s ease;
}

#myBtn:hover {
    background-color: #7ca6ca;
    transition: all .4s ease;
}
